body {
  margin: 0px;
  padding: 0px;
}

h1 {
  color: white;
  text-align: center;
  padding-top: 10px;
  margin-bottom: 0px;
}

p {
  text-align: center;
  padding-bottom: 20px;
  font-size: 1.4em;
  margin: 0 auto;
  font-weight: 400;
}

button {
  height: 40px;
  width: 100px;
  background: #cf9812;
  font-size: 14px;
  border: 1px solid black;
}

button:hover {
  background: #ffcb4c;
  cursor: pointer;
}
button:active {
  background: #ffebb9;
  cursor: pointer;
}

a {
  text-decoration: none;
  color: white;
}

a:hover,
a:active {
  color: #164070;
  text-decoration: underline;
}

.container {
  margin: 75px auto 7px auto;
  background: #2955c6;
  max-width: 600px;
  width: 90%;
  height: auto;
  opacity: 1;
  border: 2px solid black;
  border-radius: 25px;
  border-bottom-left-radius: 0px;
}

.weather {
  display: block;
  margin: 0;
}

.cloudy {
  background: url('../img/clouds.jpg');
}

.clear {
  background: url('../img/clear.jpg');
}

.rain {
  background: url('../img/rain.jpg');
}

.snow {
  background: url('../img/snow.jpg');
}

#condition {
  background: #2955c6;
  color: white;
}

#temp {
  background: #2955c6;
  font-size: 30px;
  color: white;
}
